.team {
    min-height: 830px;
    &-slider {
        margin: 0 auto;
        max-width: 1110px;
        height: 485px;
    }
    &-cards {
        width: 320px;
        min-height: 355px;
        top: 130px;
        margin-left: 30px;
        position: relative;
        background-color: #fff;
        display: inline-block;
    }
  
    &-photo {
        background-color: #ebebeb;
        position: absolute;
        width: 260px;
        left: 10%;
        top: -140px;
        margin: 0 auto;
        height: 260px;
        border: 15px solid #ebebeb;
        border-radius: 50%;
    }
    &-name {
        width: 200px;
        position: absolute;
        top: 150px;
        left: 27%;
        text-transform: uppercase;
        color: #9f9acf;
        font: 700 24px/24px 'Proxima Nova', sans-serif;
    }
    &-info {
        width: 200px;
        left: 22%;
        top: 200px;
        text-align: center;
        position: absolute;
        font: 24px/24px  "PT Sans", sans-serif ;
        font-style: italic;
    }
    &-social {
        height: 70px;
        width: 100%;
        bottom: 0;
        position: absolute;
        background: #9f9acf;
    }

     //SLICK
     .slick-list {
        height: 485px;
      }
      .slick-prev {
        left: -70px;
        @media all and (max-width: 1200px) {
          left: 5px;
          z-index: 2;
        }
      }
      .slick-prev::before {
        content: url(../img/arrow-leftdark.svg);
      }
      .slick-next {
        right: -70px;
        @media all and (max-width: 1200px) {
          right: 5px;
        }
      }
      .slick-next::before {
        content: url(../img/arrow-rightdark.svg);
      }
}